.wrapper {
    margin: 0 auto;
    width: var(--width-layout);

    .slider-wrap {
        width: var(--width-layout);
        height: 600px;
        aspect-ratio: 11 / 5;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    }

    .products-wrap {
        padding: 40px 0;

        .heading {
            font-size: 2.4rem;
            text-align: center;
        }

        .content {
            margin: 20px -10px 0;
            display: flex;
            justify-content: space-between;

            & > div {
                margin: 0 10px;

                &.brands {
                    padding: 8px 12px;
                    width: 16%;
                    height: min-content;
                    border-radius: 5px;
                    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.1);
                    background-color: #f9fafc;

                    .brands-heading {
                        font-size: 2rem;
                    }

                    .brands-list {
                        margin-top: 10px;
                        display: flex;
                        flex-direction: column;

                        .brands-item {
                            width: min-content;
                            display: flex;
                            align-items: center;
                            cursor: pointer;

                            & + .brands-item {
                                margin-top: 4px;
                            }

                            input {
                                margin-right: 10px;
                                width: 16px;
                                height: 16px;
                                cursor: pointer;
                            }
                        }
                    }
                }

                &.phones {
                    width: 84%;

                    .phones-list {
                        margin: -10px -10px 0;
                        display: flex;
                        flex-wrap: wrap;
                    }
                }
            }
        }
    }
}
