.wrapper {
    position: fixed;
    inset: 0 0 auto;
    width: 100%;
    height: 80px;
    background-color: #fafafa;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.content {
    margin: 0 auto;
    width: var(--width-layout);
    max-width: calc(100% - 32px);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        height: 100%;

        img {
            height: 100%;
            width: auto;
        }
    }

    .right {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .user-wrap {
            margin-right: 32px;

            .user {
                display: flex;
                align-items: center;
                cursor: pointer;

                .avatar {
                    width: 40px;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .hello {
                    margin-left: 8px;
                    display: flex;
                    font-size: 1.4rem;
                    line-height: 1.2;
                }
            }

            .user-menu {
                display: flex;
                flex-direction: column;
                border-radius: 5px;
                background-color: #fff;
                box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

                .info {
                    margin-bottom: 8px;
                    padding: 8px;
                    display: flex;
                    align-items: center;

                    .avatar {
                        width: 40px;
                        height: 40px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                        overflow: hidden;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    .info-details {
                        margin-left: 8px;
                        display: flex;
                        flex-direction: column;

                        .name {
                            font-size: 1.6rem;
                            line-height: 1.3;
                        }

                        .email {
                            font-size: 1.4rem;
                            line-height: 1.4;
                        }
                    }
                }

                .item {
                    padding: 12px 16px;
                    display: flex;
                    align-items: center;
                    transition: all 0.2s ease-in-out;

                    &:hover {
                        background-color: #f6f6f6;
                    }

                    svg {
                        margin-right: 8px;
                        font-size: 2rem;
                        color: #a1a4b6;
                    }

                    span {
                        font-size: 1.4rem;
                        line-height: 1.4;
                    }
                }

                .logout {
                    padding: 8px;

                    button {
                        width: 100%;
                        height: 32px;
                        border-radius: 4px;
                        color: #fff;
                        background-color: var(--blue);
                        cursor: pointer;
                    }
                }
            }
        }

        .navigate {
            position: relative;
            height: fit-content;
            display: flex;
            align-items: center;

            & + .navigate {
                margin-left: 20px;
            }

            &.active {
                color: var(--blue);

                &::before {
                    left: 5%;
                    right: 5%;
                }
            }

            &::before {
                content: '';
                position: absolute;
                inset: 100% 50% auto;
                height: 2px;
                border-radius: 2px;
                background-color: var(--blue);
                transition: all 0.2s ease-in-out;
            }

            &:hover {
                color: var(--blue);

                &::before {
                    left: 5%;
                    right: 5%;
                }
            }

            svg {
                margin-left: 4px;
                font-size: 2rem;
            }
        }
    }
}
